<div class="table-responsive">
    <table  conditional="$ctrl.foo"  class="table table-dark table-striped" st-safe-src="vm.listRecargasxOperadorSafe" st-table="vm.listRecargasxOperador">
    <thead >
        <tr>

            <th st-sort="operador"><i class="fas fa-mobile-alt"> </i>OPERADOR</th>
            <th st-sort="cantidad"><i class="fas fa-list-ol"></i>CANTIDAD RECARGAS</th>
            <th st-sort="total"><i class="fas fa-dollar-sign"></i>TOTAL</th>
        </tr> 
    </thead>

    <tbody >
        <tr ng-repeat="item in vm.listRecargasxOperador track by $index">   

            <td> {{item.operador}}</td>
            <td> {{item.cantidad}}</td>
            <td> {{item.total | currency }}</td>

        </tr>
    </tbody>    
    <tfoot ng-if="$ctrl.foo">
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
            </td>
        </tr>
    </tfoot>     

</table>

</div>

